discord.py==2.6.4
python-dotenv==1.2.1  # optional for local dev if you want to load .env
sqlmodel==0.0.27
alembic==1.17.1
apscheduler
aiohttp
aiosqlite
tenacity
mwcleric @ git+https://github.com/RheingoldRiver/mwcleric
mwrogue==0.1.5